/* 見出し（タイトル） */
#title {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #ffffff;/*文字色*/
  background: #ff6347;/*背景色*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  border-radius: 8px;
  text-align: center;
  border-left: solid 15px #ffaf58;
  border-right: solid 15px #ffaf58;
}

/* 見出し（題目） */
#theme {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-radius: 8px;
  border-left: solid 10px #ff6347;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
  font-size: 3vw;
  
}

/* メモクリップ */
.clip-box-a {
 position: relative;
 margin: 2em auto;
 padding: 15px 35px 15px 25px;
 width: 90%; /* ボックス幅 */
 background-color: #fff; /* ボックス背景色 */
 color: #555555; /* 文章色 */
 font-weight: bold;
 font-size: 20px;
 border: 1px solid #ccc; /* 枠線 */
 box-shadow: 1px 1px 1px #acacac; /* 影の色 */
}
.clip-box-a::before {
 position: absolute;
 content: '';
 top: -15px;
 right: 10px;
 height: 55px;
 width: 15px;
 border: 3px solid #555555; /*クリップ色 */
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #999;
 transform: rotate(10deg);
 z-index: 1;
}
.clip-box-a::after {
 position: absolute;
 content: '';
 top: 0px;
 width: 10px;
 right: 20px;
 border: solid 5px #fff; /*背景色と同じ色にする*/
 z-index: 2;
}

/* 応募総数 */
.example {
  position: relative;
  border: medium solid #ff6347
;
  }

.example p {
  font-size: 7vw;
  color: #ff6347;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
  }

.example img {
  width: 100%;
  }

/* 囲みタブ（内容） */
.kakomi-tab2 {
 position: relative;
 margin: 3em auto;
 padding: 1.2em 1em 1em;
 font-weight: bold;
 color: #555555;/*文字色*/
 font-size: 25px;
 width: 90%;
 background-color: #fff; /*BOX背景色 */
 border: 2px solid #d3d3d3; /* 枠線の太さ・色 */
 box-shadow: 2px 2px 2px #ccc; /* 影の色 */
 font-size: 3vw;
}
/* 囲みタブ（タイトル） */
.title-tab2 {
 position: absolute;
 display: inline-block;
 top: -31px; /*タブ調整 */
 left: -2px; /*タブ調整 */
 padding: 1px 10px;
 height: 30px;
 font-weight: bold;
 font-size: 2vw;
 color: #fff; /* タイトル色 */
 background-color: #d3d3d3; /* タイトル背景色 */
 border-radius: 8px 8px 0 0;
}


/*youtubeレイアウト*/
.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ranking1_box {
    margin: 2em 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.ranking1_box .box-title1 {
    font-size: 3vw;
    background: #daa520;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.ranking1_box p {
    padding: 15px 20px;
    margin: 0;
}

.ranking2_box {
    margin: 2em 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.ranking2_box .box-title2 {
    font-size: 3vw;
    background: #c0c0c0;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.ranking2_box p {
    padding: 15px 20px;
    margin: 0;
}

.ranking3_box {
    margin: 2em 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.ranking3_box .box-title3 {
    font-size: 3vw;
    background: #a52a2a;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.ranking3_box p {
    padding: 15px 20px;
    margin: 0;
}

.ranking_special_box {
    margin: 2em 0;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.ranking_special_box .box-title_special {
    font-size: 3vw;
    background: #008000;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}
.ranking_special_box p {
    padding: 15px 20px;
    margin: 0;
}

/*吹き出し（機構おじさん）*/
.balloon_l,
.balloon_r{
  margin: 30px 0;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start; /*縦位置を上揃え*/
/*   align-items: center; */ /*縦位置を真ん中揃え*/
}
.balloon_r{
  justify-content:flex-end;
}
.faceicon img{
  width: 80px; /*任意のサイズ*/
  height: auto;
}
.balloon_r .faceicon{
  margin-left:25px;
}
.balloon_l .faceicon{
  margin-right:25px;
}
.balloon_r .faceicon{
  order:2 !important;
}
.says_l {
  font-size: 2vw;
  border:2px solid #000;
  font-weight: bold;
  max-width:800px; /*最大幅は任意*/
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 17px 13px 15px 18px;
  border-radius: 12px;
  background: #fff;/*色は任意*/
  box-sizing:border-box;
  margin:0 !important;
  line-height:1.5;

/*   align-items: center; */
}
img {
	max-width: 100%;
	height: auto;
}
.says_l p{
  margin:8px 0 0 !important;
}
.says_l p:first-child{
  margin-top:0 !important;
}
.says_l:after {
  content: "";
  position: absolute;
  border: 10px solid transparent;
/*   margin-top:-3px;  */
}
.balloon_l .says_l:after {
  left: -33px;
  border-right: 22px solid #000;
}

details {
    border-radius: 6px;
    padding: .5em .5em 0;
}
summary {
    font-weight: bold;
    font-size:3vw;
    color: #000;
    margin: -.3em -.3em 0;
    padding: .5em;
    text-align:center;
}
