.ranking{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.ranking li{
    position: relative;
    margin: 0;
    padding: 0 0 16px 16px;
    border-bottom: 1px dotted #ccc;
    font-size:3vw;
}
.ranking li::before{
    position: absolute;
    top: 7px;
    left: 1px;
    color: #d05;
    content: "★";
    font-size: 1.5vw;
}
.ranking li:first-child::before,
.ranking li:nth-child(2)::before,
.ranking li:nth-child(3)::before{
    position: absolute;
    top: 1px;
    left: 0;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom: 10px solid #fb0;
    content: "";
}
.ranking li:first-child::after,
.ranking li:nth-child(2)::after,
.ranking li:nth-child(3)::after{
    position: absolute;
    top: 9px;
    left: 0;
    width: 0;
    height: 0;
    border: 6px solid #fb0;
    border-top: 3px solid transparent;
    border-bottom: 6px solid #f90;
    content: "";
}
.ranking li:nth-child(2)::before{
    border-bottom: 10px solid #ccc;
}
.ranking li:nth-child(2)::after{
    border: 6px solid #ccc;
    border-top: 3px solid transparent;
    border-bottom: 6px solid #aaa;
}
.ranking li:nth-child(3)::before{
    border-bottom: 10px solid #d98;
}
.ranking li:nth-child(3)::after{
    border: 6px solid #d98;
    border-top: 3px solid transparent;
    border-bottom: 6px solid #c76;
}
.ranking li span{
    color: #9ab;
    font-size: 2vw;
}

/*以下、②左側のコメント*/
.left_balloon {
  width: 100%;
  margin: 10px 0;

}

.left_balloon .faceicon {
  float: left;
  margin-right: -50px;
  max-width: 15%;
}

.left_balloon .faceicon img{
  max-width: 45px;
  height: auto;
}
.left_balloon .chatting {
  width: 100%;
  text-align: left;
}
.left_says {
  display: inline-block;
  position: relative; 
  margin: 0 0 0 60px;
  padding: 8px;
  max-width: 50%;
  border-radius: 12px;
  background: #e0ffff;
  text-align: left
}

.left_says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px; 
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #e0ffff;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.left_says p {
  margin: 0;
  padding: 0;
}

/*youtubeレイアウト*/
.youtube {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
